<div class="navbar" id="navbar">
  <a id="home" href="/">Home</a>
  <a id="admin" href="/admin">Admin</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
  <script>addActiveClass()</script>
</div>
