<% var js_include=['navbar.js']; %>

<%- include ('header',{js_include:js_include}) %>

<div class="content emma">
  <div class="greeting">
    <span class="greeting-text">Hello, Emma</span>
  </div>

  <div class="instructions">
    <span>To modify anything displaying on the frontend use the navigation to navigate to the page where you need to update or add info</span>
    <span>Please let me know if something is not working correctly or if you have questions.</span>
  </div>
</div>

<%- include ('footer') %>
