<div class="navbar" id="navbar">
  <a id="emma" href="/emma">Home</a>
  <a id="rents" href="/emma/rents">Rent</a>
  <a id="utilities" href="/emma/utilities">Utilities</a>
  <a id="tenants" href="/emma/tenants">Tenants</a>
  <a id="rent-payments" href="/emma/rent-payments">Rent Payments</a>
  <a id="utility-payments" href="/emma/utility-payments">Utility Payments</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
  <script>addActiveClass()</script>
</div>
