<% var js_include=['navbar.js','rents.js']; %>

<%- include ('header',{js_include:js_include}) %>

<div class="content rents">
  <form id="rent_form">
    
    <%- include ('snippets/add',{page:'rent'}) %>

    <%- include ('snippets/locations_dropdown') %>

  </form>
</div>

<%- include ('footer') %>
