<% var js_include=['navbar.js','tenants.js']; %>

<%- include ('header',{js_include:js_include}) %>

<div class="content tenants">
  <form id="tenants_form">

    <%- include ('snippets/locations_dropdown') %>

  </form>
</div>

<%- include ('footer') %>
