<% var js_include=['navbar.js','utilities.js']; %>

<%- include ('header',{js_include:js_include}) %>

<div class="content utilities">
  <form id="utilities_form">

    <%- include ('snippets/locations_dropdown') %>

  </form>
</div>

<%- include ('footer') %>
