<% if (tenant!==undefined) { %>
  <div id="form_first_name">
    <label for="first_name">First Name:</label>
    <input id="first_name" type="text" value="<%= tenant.first_name %>">
  </div>

  <div id="form_last_name">
    <label for="last_name">Last Name:</label>
    <input id="last_name" type="text" value="<%= tenant.last_name %>">
  </div>

  <div id="form_delete">
    <input id="delete" type="submit" value="Delete">
  </div>

  <div id="form_update">
    <input id="update" type="submit" value="Update">
  </div>
<% } else { %>
  <div id="form_first_name">
    <label for="first_name">First Name:</label>
    <input id="first_name" type="text" value="">
  </div>

  <div id="form_last_name">
    <label for="last_name">Last Name:</label>
    <input id="last_name" type="text" value="">
  </div>

  <div id="form_submit">
    <input id="add" type="submit" value="Add">
  </div>
<% } %>
