<div id="form_year">
  <label for="year_dropdown">Year</label>
  <select id="year_dropdown">
    <option val="" selected disabled>Please select</option>
    <option vale="2020">2020</option>
    <option vale="2021">2021</option>
    <option vale="2022">2022</option>
  </select>
</div>
